@charset "utf-8";
body {
    background:#ffecee
}
.particle {
    position:absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.mask {
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,.8);
    z-index: 99999;
}
@keyframes fallen_1 {
    100% {
        top: calc(100% + 20px);
        transform: rotateX(-233070936026deg) rotateY(-1505794981590deg) rotateZ(-753941424566deg);
   }
}
@keyframes fallen_2 {
    100% {
        top: calc(100% + 20px);
        transform: rotateX(-2077634339070deg) rotateY(-1590228598864deg) rotateZ(-2044940232393deg);
   }
}
@keyframes fallen_3 {
    100% {
        top: calc(100% + 20px);
        transform: rotateX(-1102927046519deg) rotateY(-1781484039576deg) rotateZ(-1793482508272deg);
   }
}
@keyframes fallen_4 {
    100% {
        top: calc(100% + 20px);
        transform: rotateX(-1501826038202deg) rotateY(-320692051517deg) rotateZ(-1045719397955deg);
   }
}
@keyframes fallen_5 {
    100% {
        top: calc(100% + 20px);
        transform: rotateX(-236267320063deg) rotateY(-269934919128deg) rotateZ(-2059497871299deg);
   }
}

.gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrap {
    width: 100vw;
    max-width: 480px;
    margin: 0 auto;
    font-family: 'Gowun Dodum', serif;
    overflow: hidden;
    background:url(../img/icon/bg_img_white.jpg);
    background-repeat: repeat;
}

.container {
    display: grid;
    place-items: center;
    height: 90vh;
    width: 100%;
    position: relative;
}

.image-wrap {
    transition: 1s ease-out;
    transition-delay: 0.2s;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    visibility: hidden;
}

.image-wrap img {
    transform: scale(1.3);
    transition: 2s ease-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animating .image-wrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    visibility: visible;
    transform: skewY(0);
}

.animating img {
    transform: scale(1);
    transition: 2s ease-out;
}

.fadeup {
    opacity: 0;
    transition: 0.2s ease-out;
    transform: translateY(40px);
}

.fading-up {
    opacity: 1;
    transition: 1s ease-out;
    transform: translateY(0px);
    transition-delay: 0.4s;
}

.reveal {
    width: 100%;
    height: 90vh;
}

.main .image-wrap {
    /* position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:380px;
    height: 480px;
    border-radius: 10%; */
}

.main .txt {
    position: absolute;
    font-family: 'Dacing';
    font-size: 52px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    z-index: 99;
    color: #fff;
    top: 4%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.color,
.sub-tit {
    color: #cf8f96;
}

.intro {
    padding: 60px 0;
}

.intro .reveal {
    height: 30vh;
    position: relative;
}

.intro .image-wrap {
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;
}

.intro .txt-line {
    padding: 20px 28px;
    line-height: 24px;
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.intro .txt {
    margin-top: 20px;
    text-align: center;
}

.intro .txt .color {
    font-weight: bold;
    margin-bottom: 20px;
}

.intro .txt p:not(.color) {
    font-size: 14px;
    line-height: normal;
}

.intro .txt-name p {
    color: #333;
    font-size: 15px;
    text-align: end;
}

.intro .txt-name p+p {
    margin-top: 12px;
}

.intro .txt-name p span:not(:last-child) {
    font-size: 13px;
    display: inline-block;
    margin: 0 2px 0 2px;
    width: 32px;
    text-align: center;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.calendar h2 {
    font-size: 24px;
    text-align: left;
    display: block;
    width: 100%;
    padding-left: 20%;
    margin-bottom: 20px;
    color: #cf8f96;
    line-height: normal;
}

.calendar .cal {
    width: 75%;
    padding: 30px 0;
    border-top: 1px solid #cf8f96;
    border-bottom: 1px solid #cf8f96;
}

.calendar .cal th,
.calendar .cal td {
    padding: 16px;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

@media (max-width:400px) {

    .calendar .cal th,
    .calendar .cal td {
        padding: 12px
    }
}

.calendar .cal th {
    font-weight: 400;
}

.calendar .cal .red {
    color: red;
}

.calendar .cal .gray {
    color: #222
}

.calendar .cal .target {
    background: #cf8f96;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
}

.calendar .count-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 50px;
    justify-content: center
}

.calendar .count-box p {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.calendar .count-box .item {
    position: relative;
    background: #cf8f96;
    color: darkslategrey;
    padding: 16px 22px 34px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
}

.calendar .item::before {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    text-transform: uppercase;
}

.calendar .item.day::before {
    content: 'DAY';
}

.calendar .item.hour::before {
    content: 'hour';
}

.calendar .item.min::before {
    content: 'minutes';
}

.calendar .item.sec::before {
    content: 'seconds';
}
.gallery {
    margin:50px 0;
    height: 100vh;
}
.gallery .sub-tit {
    font-size: 18px;
    margin-bottom: 20px;
}
.swiper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-slide {
    width: 100%;
}

.mySwiper2 .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.swiper.mySwiper2 {
    width: 390px;
    height: 500px;
}

.swiper.mySwiper {
    width: 390px;
    height: 300px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #cf8f96 !important;
}
.location {
    padding-top: 120px;
    text-align: center;
    height: 90vh;
}
.location .map {
    display: flex;
    justify-content: center;
}
.sub-tit {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}
.location .info-box a {
    text-decoration: none;
    color: #222;
}
.location .info-box p{
    margin:30px 0;
    line-height: normal;
}
.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
}
.icon.call {
    background: url(../img/icon/call.svg);
    background-size: contain;
}
.infomation {
    text-align: center;
    padding:0 30px;
    box-sizing: border-box;
}
.infomation .sub-txt {
    line-height: 1.6;
    font-size: 14px;
}
.infomation .account-tit {
    padding: 12px;
    border: 1px solid #afafaf;
    border-radius: 12px;
    text-align: left;
    color: #5f8b9b;
}
.infomation .account-wrap {
    margin-top: 40px;
}
.infomation .account-wrap + .account-wrap {
    margin-top:20px;
}
.infomation .account-list {
    max-height: 0;
    display: none;
}
.infomation .account-tit.active + .account-list {
    display: block;
}

.infomation .account-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #afafaf;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #afafaf;
    border-top: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.infomation .account-list .txt {
    text-align: left;
}
.infomation .account-list .txt strong {
    display: block;
    margin:8px 0;
    color: #5f8b9b;
    font-weight: bold;
}
.infomation .account-list p {
    margin:3px 0;
    font-size: 14px;
    color: #333;
    line-height: normal;
}
.infomation .account-wrap:nth-of-type(2) .account-tit {
    color:#cf8f96
}
.infomation .account-wrap:nth-of-type(2) .account-list .txt strong {
    color:#cf8f96
}
.infomation .btn a {
    border-radius: 4px;
    color: #5d5d5d;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    padding: 6px 16px;
    font-size: 14px;
    border: 1px solid #bfbfbf;
}
.last {
    text-align: center;
}
.last p {
    font-size: 16px;
    color:#333;
    line-height: normal;
}
.last .image-wrap {
    margin-top: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}